pipeline/6filter.json
{
	"name": "6filter",
	"properties": {
		"activities": [
			{
				"name": "metadata",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_generico_csv",
						"type": "DatasetReference",
						"parameters": {
							"container": "csv",
							"arquivo": "*.csv",
							"delimitador": ";"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Filter1",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('metadata').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@startswith(item().name, 'c')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "csvLookup",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_generico_csv",
						"type": "DatasetReference",
						"parameters": {
							"container": "csv",
							"arquivo": "cor.csv",
							"delimitador": ";"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "sqlLookup",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_generico_sqldb",
						"type": "DatasetReference",
						"parameters": {
							"schema": "SalesLT",
							"table": "ProductCategory"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Filter2",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "csvLookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('csvLookup').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@not(equals(item().cor, 'azul'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Filter3",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "sqlLookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('sqlLookup').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@contains(item().Name, 'Bike')",
						"type": "Expression"
					}
				}
			}
		],
		"folder": {
			"name": "activities1"
		},
		"annotations": [],
		"lastPublishTime": "2022-12-07T18:53:22Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}