pipeline/7forEach.json
{
	"name": "7forEach",
	"properties": {
		"activities": [
			{
				"name": "ForEachGetMetadata",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('metadata').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Wait1",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					]
				}
			},
			{
				"name": "metadata",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_generico_csv",
						"type": "DatasetReference",
						"parameters": {
							"container": "csv",
							"arquivo": "*.csv",
							"delimitador": ";"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "sqlLookup",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_generico_sqldb",
						"type": "DatasetReference",
						"parameters": {
							"schema": "SalesLT",
							"table": "ProductCategory"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Filter3",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "sqlLookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('sqlLookup').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@contains(item().Name, 'Bike')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEachLookUpFilter",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter3",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter3').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Wait2",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					]
				}
			},
			{
				"name": "csvLookup",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_generico_csv",
						"type": "DatasetReference",
						"parameters": {
							"container": "csv",
							"arquivo": "cor.csv",
							"delimitador": ";"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachLookUp",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "csvLookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('csvLookup').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Wait3",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "activities1"
		},
		"annotations": [],
		"lastPublishTime": "2022-12-07T18:53:22Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}