pipeline/ETL1.json
{
	"name": "ETL1",
	"properties": {
		"activities": [
			{
				"name": "getMetadata",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_generico_csv",
						"type": "DatasetReference",
						"parameters": {
							"container": "csv",
							"arquivo": "*.csv",
							"delimitador": ";"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "filter",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "getMetadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('getMetadata').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@not(equals(item().name, 'moviesDB.csv'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "forEach",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "filter",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('filter').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "copyData",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_generico_csv",
									"type": "DatasetReference",
									"parameters": {
										"container": "csv",
										"arquivo": {
											"value": "@item().name",
											"type": "Expression"
										},
										"delimitador": ";"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_generico_parquet",
									"type": "DatasetReference",
									"parameters": {
										"file": {
											"value": "@replace(item().name, '.csv', '')",
											"type": "Expression"
										},
										"container": "parquet"
									}
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "activities2"
		},
		"annotations": [],
		"lastPublishTime": "2022-12-07T19:44:37Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}