pipeline/ETL2.json
{
	"name": "ETL2",
	"properties": {
		"activities": [
			{
				"name": "getMetadata",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_generico_parquet",
						"type": "DatasetReference",
						"parameters": {
							"file": "*",
							"container": "parquet"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "forEach",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "getMetadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('getMetadata').output.childItems",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "copyData",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ParquetSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_generico_parquet",
									"type": "DatasetReference",
									"parameters": {
										"file": {
											"value": "@replace(item().name, '.parquet', '')",
											"type": "Expression"
										},
										"container": "parquet"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_generico_sqldb",
									"type": "DatasetReference",
									"parameters": {
										"schema": "SalesLT",
										"table": {
											"value": "@replace(item().name, '.parquet', '')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "storedProc1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "forEach",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[SalesLT].[usp_remove_cidades_duplicadas]"
				},
				"linkedServiceName": {
					"referenceName": "ls_azuresql",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "storedProc2",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "forEach",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[SalesLT].[usp_remove_cores_duplicadas]"
				},
				"linkedServiceName": {
					"referenceName": "ls_azuresql",
					"type": "LinkedServiceReference"
				}
			}
		],
		"folder": {
			"name": "activities2"
		},
		"annotations": [],
		"lastPublishTime": "2022-12-07T21:49:04Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}