pipeline/ETL3.json
{
	"name": "ETL3",
	"properties": {
		"activities": [
			{
				"name": "lookUp",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT TABLE_SCHEMA, TABLE_NAME\nFROM INFORMATION_SCHEMA.TABLES \n  WHERE TABLE_TYPE='BASE TABLE'\n  and TABLE_SCHEMA = 'SalesLT'\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_generico_sqldb",
						"type": "DatasetReference",
						"parameters": {
							"schema": "SalesLT",
							"table": "*"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "forEach",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "lookUp",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('lookUp').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "copyData",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_generico_sqldb",
									"type": "DatasetReference",
									"parameters": {
										"schema": "SalesLT",
										"table": {
											"value": "@item().TABLE_NAME",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_generico_parquet",
									"type": "DatasetReference",
									"parameters": {
										"file": {
											"value": "@item().TABLE_NAME",
											"type": "Expression"
										},
										"container": "parquet/sub"
									}
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "activities2"
		},
		"annotations": [],
		"lastPublishTime": "2022-12-07T22:11:16Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}